<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/stylesheets/stylesheet.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">{{ page.title }}</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
    <footer>
      Source Code on <a href="https://github.com/ThreeTen/threeten.github.com">GitHub</a>
    </footer>
  </body>
</html>
