<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/stylesheets/stylesheet.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
      </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Source Code on <a href="https://github.com/ThreeTen/threeten.github.com">GitHub</a></p>
      </footer>
    </div>
  </body>
</html>
